body {
    justify-content: center;
    margin: auto;
    left: 50%;
}

h1 {
    /* position: absolute;
    left: 40%;
    justify-content: center; */
    justify-content: center;
    margin: auto;
    position: relative;
    text-align: center;
}

#guesses {
    justify-content: center;
    margin: auto;
    position: relative;
    padding-top: 100px;
}

#guesses td:nth-child(-n+4):nth-child(n+1){
    background-color: gray;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

#score td {
    background-color: red;
    border-radius: 50%;
    height: 25px;
    width: 25px;
}

.smallCircle {
    background-color: red;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}
