body {
    justify-content: center;
    margin: auto;
    left: 50%;
}

h1 {
    justify-content: center;
    margin: auto;
    position: relative;
    text-align: center;
}

.container {
    position: relative;
    /* left: 40%; */
    max-width: 200px;
    justify-content: center;
}

.row {
    justify-content: center;
}

#guesses {
    justify-content: center;
    margin: auto;
    position: relative;
}

#guesses td {
    background-color: gray;
    border-radius: 50%;
    height: 65px;
    width: 65px;
}

#score td {
    background-color: lightgray;
    border-radius: 50%;
    height: 32.5px;
    width: 32.5px;
}

.smallCircle {
    /* background-color: red; */
    border-radius: 50%;
    height: 20px;
    width: 20px;
}
